<main>
  <app-header></app-header>
  <section class="section self-advertisement">
    <div class="section-container">
      <div class="text-container">
        <h1 class="heading-primary">KASFIT</h1>
        <h3 class="sub-heading">
          Тренуйся зі мною в <span class="highlighter">Харкові</span> або <span class="highlighter">онлайн</span>
        </h3>
        <p class="citate">
          <span class="highlighter">Любов</span> до себе починається з <span class="highlighter">дії</span>
        </p>
        <div class="link-container">
          <a
            href="https://www.instagram.com/kasfit_007/"
            class="social-media-link-button"
            target="_blank">
            Приєднатися
          </a>
        </div>
      </div>
      <div class="image-container"></div>
    </div>
  </section>

  <section class="section about-me-section">
    <h3 class="sub-heading highlighter">Чому обирають мене?</h3>

    <div class="grid-two section-container">
      <div class="list-images-container-first">
        <div class="image-item-container"><img src="../assets/images/kasfit-1.jpg" alt="Image 1"></div>
        <div class="image-item-container"><img src="../assets/images/kasfit-1.jpg" alt="Image 1"></div>
        <div class="image-item-container"><img src="../assets/images/kasfit-1.jpg" alt="Image 1"></div>
        <div class="image-item-container"><img src="../assets/images/kasfit-1.jpg" alt="Image 1"></div>
      </div>
      <div class="text-container">
        <p class="description">
          Шукаєте професійного, сертифікованого тренера з фітнесу, який може запропонувати вам індивідуальний план, що відповідає вашим потребам? З роками досвіду у фітнесі, тренуваннях і харчуванні я можу допомогти вам вирішити ваші проблеми здоров'я з кількох напрямків, щоб забезпечити максимальні результати. Давайте поставимо ваше благополуччя і щастя на перше місце. Готові почати?
        </p>
        <div class="list-ofdetail-container">
          <div class="ofdetail-item">
            <img class="image" ngSrc="assets/vectors/checked-checkbox-svgrepo-com.svg" height="40" width="40">
            <span>
              Більше семи років досвіду в сфері спорту
            </span>
          </div>
          <div class="ofdetail-item">
            <img class="image" ngSrc="assets/vectors/checked-checkbox-svgrepo-com.svg" height="40" width="40">
            <span>
              Більше семи років досвіду в сфері спорту
            </span>
          </div>
          <div class="ofdetail-item">
            <img class="image" ngSrc="/assets/vectors/checked-checkbox-svgrepo-com.svg" height="40" width="40">
            <span>
              Більше семи років досвіду в сфері спорту
            </span>
          </div>
          <div class="ofdetail-item">
            <img class="image" ngSrc="assets/vectors/checked-checkbox-svgrepo-com.svg" height="40" width="40">
            <span>
              Більше семи років досвіду в сфері спорту
            </span>
          </div>
          <div class="ofdetail-item">
            <img class="image" ngSrc="assets/vectors/checked-checkbox-svgrepo-com.svg" height="40" width="40">
            <span>
              Більше семи років досвіду в сфері спорту
            </span>
          </div>
          <div class="ofdetail-item">
            <img class="image" ngSrc="assets/vectors/checked-checkbox-svgrepo-com.svg" height="40" width="40">
            <span>
              Більше семи років досвіду в сфері спорту
            </span>
          </div>
          <div class="ofdetail-item">
            <img class="image" ngSrc="assets/vectors/checked-checkbox-svgrepo-com.svg" height="40" width="40">
            <span>
              Заняття онлайн
            </span>
          </div>
        </div>
        <div class="link-container">
          <a
            href="https://www.instagram.com/kasfit_007/"
            class="social-media-link-button"
            target="_blank">
            Приєднатися
          </a>
        </div>
      </div>
    </div>
  </section>

  <section class="section services-section">
    <p class="sub-heading">
      Тренуйся зі мною в
      <span>BARRE, PILATES, STRETCHING, MIND&BODY, TRX-FUNCTIONAL</span>
      напрямках
    </p>
    <div class="services-list-container">
      <ng-container *ngFor="let serviceItem of serviceItemListData">
        <app-service-item [serviceItem]="serviceItem"></app-service-item>
      </ng-container>
    </div>
  </section>

  <section class="section reviews-section">
    <h4 class="sub-heading">Що кажуть мої клієнти</h4>
    <div class="reviews-list-container">
      <ng-container *ngFor="let reviewItem of reviewItemListData">
        <app-review-item [reviewItem]="reviewItem"></app-review-item>
      </ng-container>
    </div>
  </section>
</main>
<app-footer></app-footer>
