<main>
  <app-header></app-header>
  <section class="section self-advertisement">
    <div class="section-container">
      <div class="image-container"></div>
    </div>
  </section>

  <section class="section about-me-section">
    <h3 class="sub-heading highlighter">{{aboutMeSectionHeader()}}</h3>

    <div class="grid-two section-container">
      <div class="list-images-container-first">
        <div class="image-item-container"><img src="../assets/images/kasfit-1.jpg" alt="Image 1"></div>
        <div class="image-item-container"><img src="../assets/images/kasfit-1.jpg" alt="Image 1"></div>
        <div class="image-item-container"><img src="../assets/images/kasfit-1.jpg" alt="Image 1"></div>
        <div class="image-item-container"><img src="../assets/images/kasfit-1.jpg" alt="Image 1"></div>
      </div>
      <div class="text-container">
        <p class="description">
         {{aboutMeSectionDescription()}}
        </p>
        <div class="list-ofdetail-container">
          <div *ngFor="let benefitItem of benefitsList()" class="ofdetail-item">
            <img class="image" ngSrc="assets/vectors/checked-checkbox-svgrepo-com.svg" height="40" width="40">
            <span>
              {{benefitItem.description}}
            </span>
          </div>
        </div>
        <div class="link-container">
          <a
            href="https://www.instagram.com/kasfit_007/"
            class="social-media-link-button"
            target="_blank">
            {{joinButtonLabel()}}
          </a>
        </div>
      </div>
    </div>
  </section>

  <section class="section services-section">

    <p class="sub-heading">
      {{servicesSectionHeader()}}
    </p>
    <div class="services-list-container">
      <ng-container *ngFor="let serviceItem of serviceItemListData()">
        <app-service-item [serviceItem]="serviceItem"></app-service-item>
      </ng-container>
    </div>
  </section>

  <section class="section reviews-section">
    <h4 class="sub-heading">{{reviewsSectionHeader()}}</h4>
    <div class="reviews-list-container">
      <ng-container *ngFor="let reviewItem of reviewItemListData()">
        <app-review-item [reviewItem]="reviewItem"></app-review-item>
      </ng-container>
    </div>
  </section>
</main>
<app-footer></app-footer>
